body {
	
}

div.coming-soon {
	font-family: 'Oswald', sans-serif;
	font-size: 18pt;
	width: 200px;
	margin: 0 auto;
	position: absolute;
	top: 40%;
	left: 50%;
}

div.coming-soon p {
	display: inline;
	margin-left: 1vw;
}
